/* ====== 전체 프레임 ====== */
* { box-sizing: border-box; }
.gothic-a1-thin {
  font-family: "Gothic A1", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.gothic-a1-extralight {
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.gothic-a1-light {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.gothic-a1-medium {
  font-family: "Gothic A1", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.gothic-a1-semibold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.gothic-a1-bold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.gothic-a1-extrabold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.gothic-a1-black {
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
  font-style: normal;
}


body {
  height: 100vh;
  background: #000000;          /* 바깥 배경 */
 
}

/* 가운데 정렬용 래퍼 */
#viewport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 📱 모바일 화면 */
#app {
  background:  linear-gradient(to bottom,#008cff,#ffffff);
 position: relative;
  aspect-ratio: 9 / 16;
  width: min(100vw, 430px);
  overflow: hidden;
}

.title {
  width: 100%;
  position: relative;
  top: 0; 
  
}

#horse{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) scale(0.35);

  width: 1080px;     /* 1프레임 */
  height: 1440px;

  background-image: url("../img/horse_sprite.png");
  background-repeat: no-repeat;
  background-size: 7560px 1440px; /* 전체 스프라이트 */
  background-position-x: 0;       /* 0번 프레임 */
}


/* ===== 터치 영역 ===== */
.hit{
  position: absolute;
  bottom: 15%;
  width: 30%;
  height: 45%;

  /* 디버그용 (맞추고 나서 지워) */
  /* background: rgba(255,0,0,0.2); */
}

/* 좌/중/우 */
.hit-1{ left: 5%; }
.hit-2{ left: 35%; }
.hit-3{ left: 65%; }
.hit{ pointer-events:none; }


#nameLabel1{
  left: 25%;
  top: 64%;
}

#nameLabel2{
  left: 45%;
  top: 68%;
}

#nameLabel3{
  left: 70%;
  top: 62%;
}

.nametag1{
  position: absolute;
  transform: translate(-50%, -50%);
 pointer-events:auto;
  padding: 43px;
  Text-Align: Center;
  line-height: 1.1em;

   max-width: 170px;  
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
     line-clamp: 2;  
  
  color:#ffb2cc;
  font-size:18px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  letter-spacing: -0.05em;

}

.nametag1::before {
  content:"";
  position:absolute;
  inset: 0;
  background: url("../img/letter_name2.svg") center / contain no-repeat;
  z-index: -2; }



.nametag2{
   position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  padding: 40px;
  Text-Align: Center;
  line-height: 1.1em;

   max-width: 160px;  
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
     line-clamp: 2;  
  
  color:#dfddcf;
  font-size:18px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  letter-spacing: -0.05em;

}

.nametag2::before {
  content:"";
  position:absolute;
  inset: 0;
  background: url("../img/letter_name1.svg") center / contain no-repeat;
  z-index: -1; }

.nametag3{
 position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  padding: 45px 25px;
  Text-Align: Center;
  line-height: 1.1em;

   max-width: 150px;  
   min-width: 110px; 

   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
     line-clamp: 2;  
  
  color:#3b332f;
  font-size:18px;
  font-weight: 600;
  font-family: "Gothic A1", sans-serif;
  letter-spacing: -0.05em;

}

.nametag3::before {
  content:"";
  position:absolute;
  inset: 0;
  background: url("../img/letter_name3.svg") center / contain no-repeat;
  z-index: -1; }


#shuffle{
  position: absolute;
  bottom: 6%;
  left: 30%;
  transform: translateX(-50%);

   color:#3b332f;

  width: 170px;
  height: 100px;

  background: url("../img/suffle_button.svg") center / contain no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;

  /* 기본 버튼 스타일 제거 */
  background-color: transparent;
  outline: none;
  
}

/* 눌림 효과(선택) */
#shuffle:active{
  transform: translateX(-50%) scale(0.96);
}

#orphanLetterBtn{
  position: absolute;
  bottom: 6%;
  left: 70%;
  transform: translateX(-50%);

   color:#3b332f;

  width: 170px;
  height: 100px;

  background: url("../img/unname_button.svg") center / contain no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;

  /* 기본 버튼 스타일 제거 */
  background-color: transparent;
  outline: none;
  
}

#orphanLetterBtn:active{
  transform: translateX(-50%) scale(0.96);
}



/* ====== 모달 ====== */
.modal{
  position: absolute;   /* #app 기준으로 덮기 */
  inset: 0;
  display: none;
  z-index: 999;
}

.modal.is-open{ display: block; }

.modal__backdrop{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.modal__panel{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: min(86vw, 360px);           /* 이미지 기준 */
 
  padding: 28px 22px;

  background: url("../img/modal_bg.svg")  50% 50% / 100% 100% no-repeat;
  background-color: transparent;

  box-shadow: none;
  border-radius: 0;
}



.modal__lines{ margin-bottom: 12px; }

.modal__line{
  font-family: "Gothic A1", sans-serif;
  margin: 0;
  letter-spacing: -0.03em;
}


.modal__input{
  width: 80%;
  height: 44px;
  border-radius: 12px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 25px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
 
}

.modal__input:focus{
  border-color: rgba(0,0,0,0.35);
}

.modal__error{
  min-height: 18px;
  font-size: 12px;
  color: #ffffff;
  display: block;
  margin: 3px auto;

text-align: center;}

.modal__actions{
  margin-top: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.modal__btn{
  height: 38px;
  padding: 0 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  background-color: #9fd9f6;
  color: #000;
}

.modal__btn--ghost{
  background: rgba(0,0,0,0.08);
}

.modal__backdrop { z-index: 0; }
.modal__panel { z-index: 1; }

.modal__line--main{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.3em;
  margin-bottom: 8px;
  Text-Align: Center;
  padding: 0px 0px 35px 0px;
  color: #000000;
}

.modal__name{
   font-size: 20px;
  font-weight: 900;
}

body.modal-open{
  overflow: hidden;
  touch-action: none;
}
